.banner{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color  : #ededed;
}


body {
  background-color: whitesmoke;
}

a {
  color: #212529;
}

a:hover{
  color: #212529;
  opacity: 0.5;
}